<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <servlet>
        <servlet-name>CaseServlet</servlet-name>
        <servlet-class>Servlets.CaseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CaseServlet</servlet-name>
        <url-pattern>/case/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateCaseServlet</servlet-name>
        <servlet-class>Servlets.UpdateCaseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateCaseServlet</servlet-name>
        <url-pattern>/updatecase/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NewCaseServlet</servlet-name>
        <servlet-class>Servlets.NewCaseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewCaseServlet</servlet-name>
        <url-pattern>/newcase/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteCaseServlet</servlet-name>
        <servlet-class>Servlets.DeleteCaseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCaseServlet</servlet-name>
        <url-pattern>/deletecase/*</url-pattern>
    </servlet-mapping>

    <servlet>
    <servlet-name>AuthorizationServlet</servlet-name>
    <servlet-class>Servlets.AuthorizationServlet</servlet-class>
     </servlet>
    <servlet-mapping>
        <servlet-name>AuthorizationServlet</servlet-name>
        <url-pattern>/authorization/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>Servlets.RegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/registration/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GroupServlet</servlet-name>
        <servlet-class>Servlets.GroupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GroupServlet</servlet-name>
        <url-pattern>/group/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MainFrameServlert</servlet-name>
        <servlet-class>Servlets.MainFrameServlert</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainFrameServlert</servlet-name>
        <url-pattern>/mainframe/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ForAdminServlet</servlet-name>
        <servlet-class>Servlets.ForAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForAdminServlet</servlet-name>
        <url-pattern>/foradmin/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GroupSelectionServlet</servlet-name>
        <servlet-class>Servlets.GroupSelectionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GroupSelectionServlet</servlet-name>
        <url-pattern>/groupselection/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NewGroupServlet</servlet-name>
        <servlet-class>Servlets.NewGroupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewGroupServlet</servlet-name>
        <url-pattern>/newgroup/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProfileSettingsServlet</servlet-name>
        <servlet-class>Servlets.ProfileSettingsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfileSettingsServlet</servlet-name>
        <url-pattern>/profilesettings/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreatingLabelsSerlet</servlet-name>
        <servlet-class>Servlets.CreatingLabelsSerlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreatingLabelsSerlet</servlet-name>
        <url-pattern>/labels/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>Servlets.UserFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/404error.jsp</location>
    </error-page>

    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/exception.jsp</location>
    </error-page>



</web-app>